.header {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;   
    
}

.logo {
   
    margin: 60px 10px 0px 60px;
    
}
.menu{
    margin-right: 60px;
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 1rem;
    text-transform: uppercase;
}
.menu a:hover{
    text-decoration: underline 2px #FEDA49;
}
.menu a.linkAtivo{
    text-decoration: underline 2px #FEDA49;
    
}

@media (max-width: 810px) {

    .header {
        display: flex;
        align-items: center;
        height: 100px;
        justify-content: space-between;   
        
    }
    
    .logo {

        margin: 10px 10px 0px 10px;
        
    }
    .menu{
        margin-right: 10px;
    }
    .menu a{
        display: inline;
        color: black;
        text-decoration: none;
        padding: 10px;
        font-size: 0.6rem;
        text-transform: uppercase;
    }
    a > img{
        width: 250px;
    }

    
}

@media (max-width: 600px) {

    .header {
        display: block;
        align-items: center;
        height: 100px;
        justify-content: space-between; 
        padding: 10px;
         
        
    }
    
    .logo {
        
        margin: 10px 10px 0px 10px;
        
    }
    .menu{
        margin-right: px;
    }
    .menu a{
        display: inline;
        color: black;
        text-decoration: none;
        padding: 5px;
        margin-left: 5px;
        font-size: 0.47rem;
        text-transform: uppercase;
    }
    a > img{
        
        width: 350px;
        
    }

    
}
@media (max-width: 360px) {

  
    .menu a{
        display: inline;
        color: black;
        text-decoration: none;
        padding: 5px;
        margin-left: 5px;
        font-size: 0.4rem;
        text-transform: uppercase;
    }
    a > img{
        
        width: 300px;
        
    }

    
}

