.header {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;   
}

.logo {
    margin: 60px 10px 0px 60px; 
}
.menu{
    margin-right: 60px;
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 1rem;
    text-transform: uppercase;
}
.menu a:hover{
    text-decoration: underline 2px #FEDA49;
}
.menu a.linkAtivo{
    text-decoration: underline 2px #FEDA49;   
}
.mobile{
    display: none;
}

@media (max-width: 810px) {
    .header {
        display: flex;
        align-items: center;
        height: 100px;
        justify-content: space-between;          
    }  
    .logo {
        margin: 10px 10px 0px 10px; 
    }
    .menu{
        margin-right: 10px;
    }
    .menu a{
        display: inline;
        color: black;
        text-decoration: none;
        padding: 10px;
        font-size: 0.6rem;
        text-transform: uppercase;
    }
    a > img{
        width: 250px;
    }    
}

@media (max-width: 915px) {
    .mobile{
        display: flex;  
        z-index: 11;      
        color: rgb(110, 66, 0);
    }
    .mobile  i {
        font-size: 2rem;
    }
    .menu{
        display: none;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 10px; 
    }
    
    .logo {
        margin: 10px 10px 0px 10px;  
    }
    .menu{
        margin-right: px;
    }
    .menu a{
        display: inline;
        color: black;
        text-decoration: none;
        padding: 5px;
        margin-left: 5px;
        font-size: 0.47rem;
        text-transform: uppercase;
    }
    a > img{
        width: 250px;
    }

}
@media (max-width: 360px) {
    .menu a{
        display: inline;
        color: black;
        text-decoration: none;
        padding: 5px;
        margin-left: 5px;
        font-size: 0.4rem;
        text-transform: uppercase;
    }
}
  .containerMobile{
      position: absolute;      
      top: 0px;
      right: 0px;
      width: 250px;
      min-height: 250px;
      background-color: rgb(255, 255, 255);
  }
  .containerMobile a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-right: 25px;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: end;
}
.containerMobile a:hover{
    text-decoration: underline 2px #FEDA49;
}
.containerMobile a.linkAtivo{
    text-decoration: underline 2px #FEDA49; 
}
.exit{
    text-align: end;
}