<div class="container-fluid">
  <div class="row">
    <div class="col container-principal">
      <img src="../../../assets/imagens/image 1.png" alt="" />
      <p>
        As categorias apresentam as áreas da avaliação presentes em REDs
        bilíngues, contendo os critérios agrupados por semelhança. As categorias
        podem ser exploradas e utilizadas de maneira não linear, ou seja, a
        avaliação pode iniciar por qualquer uma delas ou até mesmo pode-se optar
        por utilizar apenas parte delas.
      </p>
      <p>
        No modelo ao lado, você pode clicar na categoria que você quer utiliza e
        saber mais informações. A categoria de cor amarelo, representa a área de
        avaliação pedagógica nos recursos; a azul avalia o contexto da cultura
        surda; a verde a área de design visual do RED, a laranja é utilizada
        para avaliar a área de tradução e interpretação e a de cor roxa, avalia
        o contexto das mídias digitais que formam o recurso.
      </p>
    </div>
    <div class="col-md-7 color buttons">
        <div class="row">
            <div class="btns">
                <button class="pushable">
                <span class="shadow"></span>
                <span class="edge btn1"></span>
                <span class="front btn1 text-btn"> CONTEXTO PEDAGÓGICO </span>
              </button>
              <button class="pushable">
                  <span class="shadow"></span>
                  <span class="edge btn2"></span>
                  <span class="front btn2 text-btn"> CULTURA SURDA </span>
                </button>
            </div>
            <div class="btns btns-2 ">
                <button class="pushable bt3">
                <span class="shadow"></span>
                <span class="edge btn3"></span>
                <span class="front btn3 text-btn"> DESIGN DA INTERFACE </span>
              </button>
              <div class="imgMeio">
                  <img src="../../../assets/imagens/Group 1.png" alt="">
              </div>
              <button class="pushable">
                  <span class="shadow"></span>
                  <span class="edge btn4"></span>
                  <span class="front btn4 text-btn"> TRADUÇÃO E INTERPRETAÇÃO </span>
                </button>
            </div>
            <div class="btns">
                <button class="pushable bt5" >
                <span class="shadow"></span>
                <span class="edge btn5"></span>
                <span class="front btn5 text-btn"> MÍDIAS DIGITAIS </span>
              </button>
    
              
              
            </div>

        </div>
        <div class="imgbg">
            <img src="../../../assets/imagens/Group 12.png" alt="">
        </div>
  
    </div>
    
  </div>
</div>
