.footer{
    position: sticky;
    bottom: 0px;
    min-height: 70px;
    background-color: #E5E5E5;
    z-index: 20;
}
.footer p {
    font-size: 0.8rem;
    padding: 5px 60px;
    margin: 0px;
}
@media (max-width: 810px){
    .footer{
        position:relative;
        bottom: 0px;
    }
    .footer p {
        font-size: 0.8rem;
        padding: 5px 30px;
    }
}
@media (max-width: 600px){
    .footer p {
        font-size: 0.8rem;
        padding: 5px 20px;
    }
}
