<div class="container-fluid">
  <div class="row">
    <div class="col container-principal">
      <div class="video-container">
        <video
          src="../../../assets/videos/p16.mp4"
          width="420"
          controls
          muted
          autoplay
          loop
        ></video>
      </div>
      <p>
        Para apoiar a realização da avaliação e a aplicação dos critérios, foi
        desenvolvido um checklist, que está disponível para download aqui. O
        checklist é composto pelos critérios de avaliação, divididos nas suas
        categorias e seguidos por questões, que auxiliam a avaliação. Para
        responder o checklist, você deve veriﬁcar se o recurso que está sendo
        avaliado se adequa ou não ao critério, ou se ele não a questão não se
        aplica.
      </p>
    </div>
    <div class="col color">
      <div class="row">
        <div class="btns">
          <img src="../../../assets/imagens/checkdown.png" alt="" />
          <div class="btndowncontainer">
            <button type="button" class="btn btn-lg">
              <a href="../../../assets/pdfs/checklist.pdf" download="checklist">
                <i class="bi bi-download btndown"></i
              ></a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="btnpreview">
  <button routerLink="/criterios" type="button" class="btn btn-lg">
      <i class="bi bi-arrow-left"></i>
  </button>
</div>