<div class="container-fluid">
  <div class="row">
    <div class="col container-principal">
      <div class="video-container">
        <video
          src="../../../assets/videos/16_check.mp4"
          width="400" 
          controls
          muted
          autoplay
          loop
        ></video>
      </div>
      <p>
        Para apoiar a realização da avaliação e a aplicação dos critérios, foi
        desenvolvido um checklist, que está disponível para download aqui.
      </p>
      <p>
        O checklist é composto pelos critérios de avaliação, divididos nas suas
        categorias e seguidos por questões e exemplos que auxiliam a avaliação.
      </p>
      <p>
        Para responder o checklist, você deve verificar se o recurso que está
        sendo avaliado se adequa ou não ao critério, ou se ele não a questão não
        se aplica.
      </p>
    </div>
    <div class="col color">
      <div class="row">
        <div class="btns">         
            <a href="../../../assets/pdfs/Checklist para avaliação de REDs bilingues_MORAES 2020.pdf"
                download="checklist_para_avaliacao_de_REDs_bilingues_MORAES 2020.pdf">
                <img src="../../../assets/imagens/checkdown.png"  alt="">
              </a>     
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btnpreview">
  <button routerLink="/criterios" type="button" class="btn btn-lg">
    <i class="bi bi-arrow-left"></i>
  </button>
</div>
