<div class="container-fluid ">
  <div class="row ">
    <div class="col container-principal ">
      <div class="video-container">
        <video  src="../../../assets/videos/1_home_intro.mp4" width="400"  controls muted  autoplay loop></video>
      </div>
      <p>
        O objetivo do Modelo é orientar o entendimento do domínio da avaliação
        de REDs bilíngues por meio das categorias e critérios. De maneira
        aplicada, auxilia a realização da avaliação por meio de um checklist
        composto de critérios.
      </p>
      <p>
        Assim, contribui na manutenção da qualidade de REDs bilíngues, apoiando
        usuários finais (alunos surdos e ouvintes), professores, equipes de
        projeto, portais e repositórios.
      </p>
      <p>
        Para conhecer e utilizar o modelo, clique nas opções do menu acima: como
        utilizar o modelo, categorias, critérios e o checklist de apoio à
        avaliação.
      </p>
    </div>
    <div class="col color buttons ">
      <div class="row ">
        <div class="btns ">
          <button class="pushable"  >
            <span class="shadow"></span>
            <span class="edge btn1"></span>
            <span class="front btn1 text-btn">
              <img
                class="img-btn desativado"
                src="../../../assets/imagens/btn-ctx-pedag.png"
                alt="botao contexto pedagogico"
            /></span>
          </button>
          <button class="pushable" >
            <span class="shadow" ></span>
            <span class="edge btn2"></span>
            <span class="front btn2  text-btn">
              <img
                class="img-btn desativado"
                src="../../../assets/imagens/btn-cult-surd.png"
                alt="botao cultura surda"
              />
            </span>
          </button>
        </div>
        <div class="btns btns-2">
          <button class="pushable bt3" >
            <span class="shadow"></span>
            <span class="edge btn3"></span>
            <span class="front btn3 text-btn">
              <img
                class="img-btn desativado"
                src="../../../assets/imagens/btn-design-int.png"
                alt="botao cultura surda"
              />
            </span>
          </button>
          <div class="imgMeio">
            <img src="../../../assets/imagens/img-prop.png" alt="" />
          </div>
          <button class="pushable" >
            <span class="shadow"></span>
            <span class="edge btn4"></span>
            <span class="front btn4 text-btn">
              <img
                class="img-btn desativado"
                src="../../../assets/imagens/btn-trad-int.png"
                alt="botao cultura surda"
              />
            </span>
          </button>
        </div>
        <div class="btns btn-5-content">
          <button class="pushable bt5" >
            <span class="shadow"></span>
            <span class="edge btn5"></span>
            <span class="front btn5 text-btn">
              <img
                class="img-btn desativado"
                src="../../../assets/imagens/btn-mid-dig.png"
                alt="botao cultura surda"
              />
            </span>
          </button>
        </div>
      </div>
      <div class="imgbg">
        <img src="../../../assets/imagens/bg-btns.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="btnnext">
  <button routerLink="/utilizar" type="button" class="btn btn-lg">
      <i class="bi bi-arrow-right"></i>
  </button>
</div>
