/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
*{
    font-family: 'Roboto', sans-serif;
}
body{    
    margin: 0px;   
}
h4{
  padding: 0px;
  margin-top: 5px;
  margin-left: 5px;
}
h5{
  padding-bottom: 5px;
  font-size:  1rem;
  font-weight: 900;
}
.container-principal{
    margin-top: 20px;
    /* padding: 60px 60px 20px; */
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
    min-height: 77vh;
}
p{
    padding-top: 10px;
    text-align: justify;
}

.buttons{
    display: flex;    
    justify-content: center; 
    margin-top: 30px;
    align-items:baseline;
}

.buttons button{
    margin: 0px 30px;
    
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
}

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: solid 30px rgb(4, 0, 255) ;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  border-radius: 50%;

  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}
.btn1{
    background: hsl(48, 100%, 50%);
 
}
.btn2{
    background: hsl(188, 54%, 60%);
}
.btn3{
    background: hsl(77, 72%, 44%);
}
.btn4{
    background: hsl(34, 100%, 47%);
}
.btn5{
  
    background: hsl(333, 51%, 63%);
}

.imgMeio{
    margin-bottom: 60px;
}

.imgbg{
    margin-top: 50px;
    position: absolute;
    z-index: -1;
}
.text-btn{
    width: 160px;
    height: 160px;
}
.img-btn{
  width: 170px;
  margin-top: 10px;
}
.btn-reload{
  position: absolute;
  width: 50px;
  top: 172px;
  left: 10px;
  z-index: 10;
  
}
.video-container{
  display: flex;    
  justify-content: center;
}
.desativado{
  filter: grayscale(50%);
}
.btnnext{
  position: absolute;
  top: 400px;
  right: 10px;
}
.btnpreview{
  position: absolute;
  top: 400px;
  left: 10px;
}

@media (max-width: 810px) {
  .container-principal{
    margin-top: 20px;
    /* padding: 60px 60px 20px; */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    padding-bottom: 0px;
    align-items: center;
    min-height: 2vh;

}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-bottom: 20px;
  
}
}

@media (max-width: 600px) {
 
  .text-btn{
    width: 100px;
    height: 100px;
}
.text-btn > img{
  width: 110px;
}
.imgbg{
  width: 300px;
}
.imgbg > img{
  margin-top: 0px;
  padding: 0px;
  position: absolute;
  z-index: -1;
  width: 300px;
  
}
.imgMeio{
  margin-bottom: 60px;
  width: 100px;
}
.imgMeio > img{
  width: 100px;
}

}
