<div class="container-fluid">
  <div class="row">
    <div class="col container-principal">
      <img src="../../../assets/imagens/image 1.png" alt="" />
      <p>
        O modelo contempla 32 critérios de avaliação, que são explicados e
        exempliﬁcados no checklist de avaliação proposto. Podem ser utilizados
        na íntegra ou parcialmente, de acordo com o contexto de avaliação.
        Ainda, conforme o avanço da tecnologia e dos recursos disponíveis nos
        REDs, novos critérios podem ser adicionados.
      </p>
      <p>
        Nas próximas páginas, você pode ver detalhadamente cada categoria e seus
        critérios.
      </p>
    </div>
    <div class="col-md-7 color buttons">
      <div class="row">
          <div class="btns">
              <button class="pushable">
              <span class="shadow"></span>
              <span class="edge btn1"></span>
              <span class="front btn1 text-btn"> CONTEXTO PEDAGÓGICO </span>
            </button>
            <button class="pushable">
                <span class="shadow"></span>
                <span class="edge btn2"></span>
                <span class="front btn2 text-btn"> CULTURA SURDA </span>
              </button>
          </div>
          <div class="btns btns-2 ">
              <button class="pushable bt3">
              <span class="shadow"></span>
              <span class="edge btn3"></span>
              <span class="front btn3 text-btn"> DESIGN DA INTERFACE </span>
            </button>
            <div class="imgMeio">
                <img src="../../../assets/imagens/Group 1.png" alt="">
            </div>
            <button class="pushable">
                <span class="shadow"></span>
                <span class="edge btn4"></span>
                <span class="front btn4 text-btn"> TRADUÇÃO E INTERPRETAÇÃO </span>
              </button>
          </div>
          <div class="btns">
              <button class="pushable bt5" >
              <span class="shadow"></span>
              <span class="edge btn5"></span>
              <span class="front btn5 text-btn"> MÍDIAS DIGITAIS </span>
            </button>
  
            
            
          </div>

      </div>
      <div class="imgbg">
          <img src="../../../assets/imagens/Group 12.png" alt="">
      </div>

  </div>
  </div>
</div>
